<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683034392127-qqnsfarqpdhdino8p16715fttac8nupt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683034392127-qqnsfarqpdhdino8p16715fttac8nupt</string>
	<key>API_KEY</key>
	<string>AIzaSyB_HAs2v3GFUGrCxe0VRNuEfOSYFgVrdOU</string>
	<key>GCM_SENDER_ID</key>
	<string>683034392127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Uzupis.Practice4Novo</string>
	<key>PROJECT_ID</key>
	<string>practice4novo</string>
	<key>STORAGE_BUCKET</key>
	<string>practice4novo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683034392127:ios:bbf75393cd47a026c4aa8a</string>
	<key>DATABASE_URL</key>
	<string>https://practice4novo.firebaseio.com</string>
</dict>
</plist>